body 
  padding 0
  margin 0
.clearfix:after
  height 0
  display block
  clear both
  content ''
  overflow hidden
[class*=" el-icon-cc"],
[class^="el-icon-cc"]
  font-family "iconfont" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.source
    padding 20px
.card-title
    color  #404852;
    margin-bottom  22px;
    text-transform capitalize;
.white-bg
  background #fff
.el-row
  margin 0 -10px
.card
  margin-bottom 20px
.flex-row
  margin 0 10px
.padd-row
  padding 0 10px
.content-list
    margin-top 0!important
.el-dropdown, .el-submenu__title 
    color #fff

.el-menu-item.is-active
    color #fff
    background #000
.el-menu-item {
    color: #fff;
}
.el-submenu__title:hover,.el-menu-item:hover
    background:#4c4c4c
.el-breadcrumb__inner,.el-breadcrumb__item:last-child .el-breadcrumb__inner
    color #fff